html {
  min-height: 100%;
  position: relative;
}
body {
  padding-bottom:0;
  background-color:#e4e6e9;
  min-height:100%;
  font-family: 'YaHei Consolas Hybrid', 'Microsoft YaHei', cursive, verdana, arial, sans-serif;
  font-size:13px;
  color:#393939;
  line-height:1.5
}
.navbar {
  border:0;
  -webkit-box-shadow:none;
  box-shadow:none;
  border-radius:0;
  margin:0;
  padding-left:0;
  padding-right:0;
  min-height:45px;
  position:relative;
  background:#438eb9
}
/*.navbar .navbar-text,.navbar .navbar-link{color:#fff}*/
/*.navbar .navbar-brand{color:#fff;font-size:24px;text-shadow:none;padding-top:10px;padding-bottom:10px}*/
/*.navbar .navbar-brand:hover,.navbar .navbar-brand:focus{color:#fff}.navbar .navbar-header{margin:0!important}*/
/*.navbar .navbar-nav>li>a,.navbar .navbar-nav>li>a:hover,.navbar .navbar-nav>li>a:focus{font-size:13px;text-shadow:none;color:#fff}*/
/*.navbar-fixed-top,.navbar-fixed-bottom{position:fixed}*/
/*.navbar-container{padding-left:10px;padding-right:20px}*/
/*.navbar-container.container{padding-left:0;padding-right:0}*/
